<!DOCTYPE html>
<html lang="zh-CN" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >


    <head>
        <title>{% block title %} 爱记账 {% endblock %}</title>

        <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <!-- Documentation extras -->
        <link href="/static/bootstrap/docs/assets/css/docs.min.css" rel="stylesheet">
        <!--[if lt IE 9]><script src="/static/bootstrap/docs/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


        <!--[if lt IE 9]>
          <script src="/static/bootstrap/dist/js/html5shiv.js"></script>
          <script src="/static/bootstrap/dist/js/respond.min.js"></script>
        <![endif]-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        {% block extra_header %} {%endblock%}
    </head>
    <body>
        <div class="container-fluid">
        {%block content%} {%endblock%}
        {% include "footer.html" %}
        </div>
    </body>
</html>