{% include "header.html" %}

<h2> 欢迎来到我们站点 </h2>
    <form action="" method="post"   role="form">
    {% csrf_token %}

    {% if messages %}
        <ul class="errorlist">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>	
    {% endif %}
    
    {% for field in form %}

        {% if field.field.widget.attrs.checkbox %}
            <div class="checkbox">
            {{ field.errors }}
            {{ field }}{{ field.label }} 
            </div>

        {% else %}
            <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }} 
            {{ field }}
            </div>
        {% endif %}

    {% endfor %}
    <button type="submit" class="btn btn-primary">登录</button>
    <button type='button' class="btn btn-primary" onclick='javascrtpt:window.location.href="{% url 'accounts:register' %}"'>注册</button>

    </form>
{% include "footer_nologin.html" %}
